
<form #productForm="ngForm" (ngSubmit)="add(productForm)">
  <input type="text" name="name" ngModel required placeholder="Product Name">
  <input type="text" name="image" ngModel required placeholder="Image URL">
  <input type="text" name="description" ngModel required placeholder="Description">
  <input type="number" name="price" ngModel required placeholder="Price">
  <select name="categoryID" ngModel required>
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>
  <button type="submit"  >Add Product</button>
</form>
