<h2>Vouchers</h2>
<br />
<button routerLink="/add-voucher" class="btn btn-warning">Add Voucher</button>
<br />
<br />

<table class="table">
  <thead>
    <tr class="table-warning">
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let voucher of vouchers">
      <td>{{voucher.name}}</td>
      <td>{{voucher.price}}</td>
      <td>{{voucher.quantity}}</td>
      <td><a class="btn btn-success" routerLink="/edit-voucher/{{voucher.id}}">Edit</a></td>
    </tr>
  </tbody>
</table>
