<div class="container">
  <h2>Edit Voucher</h2>
  <form #voucherForm="ngForm" (ngSubmit)="update()">
    <div class="mb-3">
      <label class="form-label">Voucher Name</label>
      <input type="text" class="form-control border-warning" [(ngModel)]="voucher.name" name="name">
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input class="form-control border-warning" [(ngModel)]="voucher.price" name="price">
    </div>
    <div class="mb-3">
      <label class="form-label">Quantity</label>
      <input class="form-control border-warning" [(ngModel)]="voucher.quantity" name="quantity">
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
  </form>
</div>
