.gradient-custom {
  background: #f6d365;
  background: -webkit-linear-gradient(to right bottom, rgba(199, 176, 226, 1), rgba(199, 176, 226, 1));
  background: linear-gradient(to right bottom, rgba(199, 176, 226, 1), rgba(199, 176, 226, 1))
}

i:not(.far) {
  color: rgba(199, 176, 226, 1);
}
